/* layout.css */
.dfBx{display: inline-block;float: left;}
.dfFllBx{display: inline-block;float: left;width: 100%;}
.dfHlfBx{display: inline-block;float: left;width: 50%;}
.dfFlxBx{display: inline-flex;flex-wrap: nowrap;flex-direction: row;justify-content: flex-start;align-items: flex-end;float: left;width: 100%;}
.dfFlxBx._jstfySpcBtwn{justify-content: space-between;}

.cntntBx{display: block;float: left;width: 100%;max-width: 720px; margin: 0 calc(50% - 360px);padding: 20px 150px;background-color: aliceblue;box-sizing: border-box;}

/* control.css */
.btn{display: inline-block;float: left;width: 55px;height: 25px;font-size: 15px;background-color: #ccc;box-sizing: border-box;}

.TxtBtn{display: inline-block;float: left;font-size: 15px;line-height: 15px;text-decoration: underline;color:#353535;}
    .TxtBtn._blue{color: rgb(41, 41, 171);}

.txtInptBx{display: inline-block;float: left;width: calc(100% - 125px);height: 25px;box-sizing: border-box;}

/* pageStyle.css */
.easyLv{display: none;}
.hrdLv{display: none;}
.fnlBx{display: none;}

/* common.css */
.ttl{display: inline-block;float: left;width: 100%;text-align: center;  margin: 50px 0 50px 0;font-size: 20px;font-weight: bold;}

.off{display: none;}
.on{display: inline-block;}
    .on._blck{display: block;}
    .on_flx{display: inline-flex;}